
{% macro footer() %}
<footer class="ui inverted vertical footer segment" style="padding: 2em 0em; margin-top: 3em;">
	<div class="ui container" style="">
		<div class="ui stackable inverted divided equal height stackable grid">
			<div class="eight wide column">
                <div class="ui inverted link list">
                    <a class="item" href="atom.xml">                <h4 class="ui inverted header">RSS Feed</h4>
</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">Page source</h4>
                <div class="ui inverted link list">
                    <a class="item" href="https://github.com/not-fl3/macroquad-examples/">macroquad-website</a>
                </div>
            </div>
		</div>
	</div>
</footer>
{% endmacro %}
