{% extends "base.html" %}

{% block header %}
{{ macros_header::header(current_section="/articles") }}
{% endblock header %}

{% block content %}

<div class="ui container">
  <div class="row" id="article">
    <p>Macroquad project updates and guides.</p>

    <p>Want to contribute an article? <a href="https://github.com/not-fl3/macroquad-website/tree/source/content/articles/">Submit a pull request!</a></p>
  </div>
</div>

{% for page in paginator.pages %}

<div class = "ui container segment">
  <a class="stretched-link text-body" href="{{ page.permalink }}">
    <h3 class = "ui header" > {{ page.title }}</h3>
  </a>
  <div class="ui divider"></div>
  <p>{{ page.description }}</p>
</div>

{% endfor %}

{% endblock content %}
