{% extends "base.html" %}

{% block header %}
{{ macros_header::header(current_section="/twiq") }}
{% endblock header %}

{% block content %}

<div class="ui container">
  <div class="row" id="article">
    <p>Compilation of project and community updates from the *quad ecosystem.</p>
    <p>Got your own *quad-related update? <a href="https://github.com/not-fl3/macroquad-website/tree/source/content/twiq/">Send a pull request for the next week!</a></p>
  </div>
</div>

{% for page in paginator.pages %}

<div class = "ui container segment">
  <a class="stretched-link text-body" href="{{ page.permalink }}">
    <h3 class = "ui header" > {{ page.title }}, {{ page.description }}</h3>
  </a>
</div>

{% endfor %}

{% endblock content %}
