{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}
  
  {% if config.extra.title_addition and title %}
    {% set title_addition = title_separator ~ config.extra.title_addition %}
  {% elif config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% set description = config.description %}
  
  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block content %}

<style>
  .bigger.text {
      font-size: calc(1.875rem + 1.5vw) !important;
      margin: 2rem 0 1rem;
  }

  .large.text {
      font-size: 1.5rem !important;
  }
</style>

<div class="ui vertical center aligned container">
  <div class="ui container">
    <div class="ui text container">
      <h1 class="bigger text">
        {{config.title}}
      </h1>
      <p class="large text">{{config.extra.home.lead}}</p>
        <a class="ui huge secondary inverted button" href="/examples">Browse examples</a>
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<section>
  <div class="ui centered stackable relaxed grid container">
    {% for val in config.extra.home.list %}
    <div class="five wide tablet five wide computer column">
      <div class="ui center aligned container">
        <h2 class="h4">{{ val.title }}</h2>
        <p class="large text">{{ val.content }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<section>
  <div class="ui container">
    <div class="row">
      <div class="eleven wide centered column">
        <h2>Get Started with Macroquad</h2>

        <p>Macroquad has a simple, small API that's quick to get started with.</p>

        <div>1. Install Rust and create a new project with Cargo: <code>cargo init my_game</code></div>
        <div>2. Add Macroquad: <code>cargo add macroquad</code></div>
        <div>3. Start coding by adding the following to <code>src/main.rs</code>:
          <pre data-lang="rust" class="language-rust">
            <code data-lang="rust" class="language-rust">
use macroquad::prelude::*;

#[macroquad::main("MyGame")]
async fn main() {
    loop {
        clear_background(RED);

        draw_line(40.0, 40.0, 100.0, 200.0, 15.0, BLUE);
        draw_rectangle(screen_width() / 2.0 - 60.0, 100.0, 120.0, 60.0, GREEN);

        draw_text("Hello, Macroquad!", 20.0, 20.0, 30.0, DARKGRAY);

        next_frame().await
    }
}
            </code>
          </pre>
        </div>
        <div>4. Run with <code>cargo run</code></div>
        <div>5. Dig into the <a href="/docs">docs</a></div>
        <div><p><a href="https://github.com/not-fl3/macroquad?tab=readme-ov-file#setting-up-a-macroquad-project">Learn more in the GitHub README.</a></p></div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
